* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    overflow: hidden;
    max-height: 100vh;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#a439e2, #300049);
}



/***** Not used since its hella ugly *****/
.section .color {
    position: absolute;
    filter: blur(200px);
}

.section .color:nth-child(1) {
    top: 30px;
    width: 100%;
    height: 100px;
    background: #e4cdff;
    border-radius: 30%;
}

.section .color:nth-child(2) {
    bottom: 250px;
    left: 30px;
    width: 35%;
    height: 700px;
    background: #534278;
    border-radius: 10%;
}

.section .color:nth-child(3) {
    bottom: 180px;
    right: 20px;
    width: 50%;
    height: 500px;
    background: #534278;
    border-radius: 10%;
}

.section .color:nth-child(4) {
    bottom: 120px;
    left: -50px;
    background: #b19cd9;
    width: 800px;
    height: 100px;
    z-index: 2;
}

.box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(221, 174, 64, 0.5);
    border-radius: 5px;
}
/***** Not used since its hella ugly *****/



/* top right */
.box .square:nth-child(1) {  
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
    animation-duration: 3s;
}

/* left one */
.box .square:nth-child(2) {
    top: 150px;
    left: -220px;
    width: 100px;
    height: 100px;
    z-index: 0;
    animation-duration: 4s;
}

/* right one */
.box .square:nth-child(3) {
    bottom: 100px;
    right: -160px;
    width: 80px;
    height: 80px;
    z-index: 2;
    animation-duration: 5s;
}

/* bottom one */
.box .square:nth-child(4) {
    bottom: -50px;
    left: 100px;
    width: 80px;
    height: 80px;
    animation-duration: 6s;
}

/* top one */
.box .square:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
    animation-duration: 7s;
}

.box {
    position: relative;
}

.container {
    position: relative;
    width: 600px;
    min-width: 300px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form h2 {
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
    font-family: "Lucida Console", sans-serif;
}

.form h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    background: #fff;
}

.formbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form .inputBox {
    width: 100%;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form .inputBox input {
    width: 100%;
    background: rgba(255,255, 255, 0.2);
    /* border: none; */
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5); /* or comment out this one */
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.form .inputBox input::placeholder {
    color: #fff;
}

.form .inputBox input[type="submit"] {
    background: #fff;
    color: #666;
    width: 100%;
    /* max-width: 100px; */
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}

.form .inputBox input[type="submit"]:hover {
    background: rgb(221, 174, 64);
}

