.reroute-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#a439e2, #300049);
}

.reroute-messagebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 6em;
    padding-right: 6em;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 24px;

    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.reroute-messagebox p {
    color: black;
}

.reroute-messagebox * {
    padding: 1em;
}

.reroute-goback {
    border-radius: 5px;
    text-decoration: none;
    color: black;
    margin-top: 2em;

    background: rgba(255, 15, 15, 0.535);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}